<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><%= link_to "ContactManager", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "New Contact", new_contact_path %></li>
      <li><%= link_to "All Contacts", contacts_path %></li>
      <li><%= link_to "Search", search_contacts_path %></li>
    </ul>
  </section>
</nav>
